.DisplayerBox {
   width: 250px;
   height: 250px;
   background: #eee;
   border: 1px solid #cedede;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2em;
}

.InnerWrapper{
  width: 230px;
  height: 230px;
  background: #adb7da;
  border: 1px solid #adb7da;
  border-radius: 50%;
  position: relative;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InnerWrapper img {
  border: 0px solid rgba(0,0,0,0);
  border-radius: 50%;
  position: absolute;
  width: 100%;
  transition: 0.5s;
  z-index: 3;
  background: #cacaca;

}

.InnerWrapper:hover img {
  transform: translate(0, -7em);
}

.childComponent {
  display: flex;
  position: absolute;
  top: 140px;
  z-index: 2;
  font-family: 'Staatliches', sans-serif;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .childComponent{
    top: 16vw;
  }
}